<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.titanz.titanztech">

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/titanz_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/titanz_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.DetalhesPromocoesActivity"
                android:screenOrientation="portrait"></activity>
        <activity android:name=".view.DetalhesServicosActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>